<h1>Profile</h1>
<form>
    <label for="username">Username: jsinger03</label>
    <input type="text" id="username" name="username" placeholder="new username">
    <button type="submit">Save</button>
    <br>
    <label for="email">email: jsinger03@gmail.com</label>
    <input type="text" id="email" name="email" placeholder="new email">
    <button type="submit">Save</button>
    <br>
    <label for="password">password: not gonna tell you</label>
    <input type="text" id="password" name="password" placeholder="new password">
    <button type="submit">Save</button>
</form>