<form>
    <label for = "username">Please enter a username</label>
    <input type = "text" name = "username" placeholder = "username">
    <label for = "email">Please enter your email</label>
    <input type = "text" name = "email" placeholder = "email">
    <label for = "password">Please enter a password</label>
    <input type = "text" name = "password" placeholder = "password">
    <label for = "confirm password">Please confirm your password</label>
    <input type = "text" name = "confirm password" placeholder = "confirm password">
    <button type = "submit">Register</button>
    <br>
    <label>Already have an account? <a href = "/">Login</a></label>
</form>